# Node.js dependencies
node_modules/

# Build artifacts
build/
dist/

#folders
uploads/
moments/

# Environment variables
.env

# Folders
uploads/
moments/

# Logs
*.log
logs/
log.txt

# Editor/IDE specific files
.vscode/
.idea/

# macOS specific files
.DS_Store

# Windows thumbnail cache
Thumbs.db
